Source: fierce
Section: net
Priority: extra
Maintainer: Kali Developers <devel@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://ha.ckers.org/fierce/
Vcs-Git: https://gitlab.com/kalilinux/packages/fierce.git
Vcs-Browser: https://gitlab.com/kalilinux/packages/fierce

Package: fierce
Architecture: all
Depends: ${misc:Depends}, perl, libnet-dns-perl
Description: Domain DNS scanner
 First what Fierce is not. Fierce is not an IP scanner, it 
 is not a DDoS tool, it is not designed to scan the whole 
 internet or perform any un-targeted attacks. It is meant 
 specifically to locate likely targets both inside and 
 outside a corporate network. Only those targets are listed 
 (unless the -nopattern switch is used). No exploitation is 
 performed (unless you do something intentionally malicious 
 with the -connect switch). Fierce is a reconnaissance tool. 
 Fierce is a PERL script that quickly scans domains (usually 
 in just a few minutes, assuming no network lag) using 
 several tactics.
